.OrderContainer {
    margin: 20px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.OrderContainerTwo {
    margin: 20px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid red;
}

h2 {
    display: inline;
    margin: 5px;
}

h3 {
    display: inline;
    margin: 5px;
}

.customordercontainer {
    background-color: teal;
}